body{

    background-color: lightgray;
}
hr{
    margin: 20px;
    border: 3px solid #7C8363;
    border-radius: 3px;
}
#my_footer, #my_header{
    margin: 20px;
    background-color: #EDF4F2;
    color: #31473A;

}
#my_output, #my_input{
    margin: 40px;

}
#my_table {
    color: #31473A ;
    background-color: #EDF4F2 ;

}
#my_table th , #my_table td, #my_table tr {
    border: 1px solid black ;
    border-collapse: collapse;
}
#my_table td:hover{
 background-color: lightgray;
}
#my_table th:hover{
    background-color: lightgray ;
}
.tbl_row_headers{
    margin: 10px;
    padding: 10px;
    text-align: left;
}
.tbl_row_eqns{
    margin: 10px;
    padding: 10px;
    text-align: left;
}
.tbl_row_data{
    
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;

}
#copyright, #my_contact{
    padding: 20px;
}